<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="linux firefox102 js js" lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="1akzhBjFXlzJQprqITmlCIWPS05XjcjZlW2PPWfibBhReP5DJVxPg7DyY6ddckGlnZEmW1uL64EFvM4jV+fJRA==">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>File upload styled</title>
<link rel="stylesheet" media="screen" href="file_upload_files/fullpage-9a6f5ffcc359b81b95df109e4b8ce436f472f4f828fcc75227c.css">
<link rel="stylesheet" media="all" href="file_upload_files/global-8c497e672228106dae762005cd63c4dd75079eecab0c75d4d992d.css">
<link rel="stylesheet" media="screen" href="file_upload_files/everypage-b740dc46.css">
<link rel="stylesheet" media="all" href="file_upload_files/page-ec4dbe43bb784a91e6afe9422bb4d108786fde49bbae5f83048de30.css">
<link rel="stylesheet" media="all" href="file_upload_files/editor-18b95390f568e9310c9fef4477e50aab55fd9afaf90ce3a264ee9.css">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@CodePen">
<meta name="twitter:title" content="File upload styled">
<meta name="twitter:description" content="...">
<meta name="twitter:image" content="https://shots.codepen.io/username/pen/kYjdzL-800.jpg?version=1419185867">
<meta property="og:image" content="https://shots.codepen.io/username/pen/kYjdzL-800.jpg?version=1419185867" itemprop="thumbnailUrl">
<meta property="og:title" content="File upload styled">
<meta property="og:url" content="https://codepen.io/dodozhang21/details/kYjdzL">
<meta property="og:site_name" content="CodePen">
<meta property="og:description" content="...">
<link rel="alternate" type="application/json+oembed" href="https://codepen.io/api/oembed?url=https%3A%2F%2Fcodepen.io%2Fdodozhang21%2Fpen%2FkYjdzL&amp;format=json" title="File upload styled">
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
<meta name="apple-mobile-web-app-title" content="CodePen">
<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
<link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">
<style id="_goober"> @keyframes go487993996{from{transform:scale(0) rotate(45deg);opacity:0;}to{transform:scale(1) rotate(45deg);opacity:1;}}@keyframes go1747222846{from{transform:scale(0);opacity:0;}to{transform:scale(1);opacity:1;}}@keyframes go2652833988{from{transform:scale(0) rotate(90deg);opacity:0;}to{transform:scale(1) rotate(90deg);opacity:1;}}@keyframes go1268368563{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}@keyframes go3344466522{0%{height:0;width:0;opacity:0;}40%{height:0;width:6px;opacity:1;}100%{opacity:1;height:10px;}}@keyframes go2190974446{from{transform:scale(0.6);opacity:0.4;}to{transform:scale(1);opacity:1;}}</style><script src="file_upload_files/CESI627W.json"></script></head>
<body class="fullpage logged-out sidebar-false">

<div class="oldie-header">
<a href="https://codepen.io/dodozhang21/pen/kYjdzL?anon=true&amp;view=pen">Edit Pen</a>
</div>
<div id="result-iframe-wrap" role="main">
<iframe id="result" src="file_upload_files/kYjdzL.html" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-downloads allow-presentation" allow="camera; display-capture; geolocation; microphone; web-share" allowtransparency="true" allowpaymentrequest="true" allowfullscreen="true" class="result-iframe" loading="lazy"></iframe>
</div>
<div id="pen-ad"></div>
<textarea id="init-data" style="display:none">{"__browser":{"device":"unknown_device","mobile":false,"name":"firefox","platform":"linux","version":"102"},"__constants":{},"__CPDATA":{"domain_iframe":"https://cdpn.io","environment":"production","host":"codepen.io","iframe_allow":"camera;
 display-capture; geolocation; microphone; 
web-share","iframe_sandbox":"allow-forms allow-modals allow-pointer-lock
 allow-popups allow-same-origin allow-scripts 
allow-top-navigation-by-user-activation allow-downloads 
allow-presentation"},"__graphql":{"data":{"data":{"sessionUser":{"id":"VoDkNZ","name":"Captain
 Anonymous","title":"Captain 
Anonymous","avatar":"https://assets.codepen.io/t-1/user-default-avatar.jpg?format=auto&amp;version=0","currentContext":{"id":"VoDkNZ","title":"Captain
 Anonymous","name":"Captain 
Anonymous","avatar":"https://assets.codepen.io/t-1/user-default-avatar.jpg?format=auto&amp;version=0","username":"anon","__typename":"User"},"currentTeamId":null,"username":"anon","admin":false,"anon":true,"pro":false,"verified":false,"teams":[],"__typename":"User"}}},"url":"https://codepen.io/graphql","api":"cprails","cpedata":{"action":"show_secure_full_page","controller":"fullpage"}},"__user":{"anon":true,"base_url":"/anon/","current_team_id":0,"current_team_hashid":null,"hashid":"VoDkNZ","id":1,"itemType":"user","name":"Captain
 
Anonymous","paid":false,"tier":0,"username":"anon","created_at":null,"email_verified":null,"collections_count":0,"collections_private_count":0,"followers_count":0,"followings_count":0,"pens_count":0,"pens_private_count":0,"projects_count":0,"projects_private_count":0},"__firebase":{"config":{"apiKey":"AIzaSyBgLAe7N_MdFpuVofMkcQLGwwhUu5tuxls","authDomain":"codepen-store-production.firebaseapp.com","databaseURL":"https://codepen-store-production.firebaseio.com","disabled":false,"projectId":"codepen-store-production"},"token":"eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJodHRwczovL2lkZW50aXR5dG9vbGtpdC5nb29nbGVhcGlzLmNvbS9nb29nbGUuaWRlbnRpdHkuaWRlbnRpdHl0b29sa2l0LnYxLklkZW50aXR5VG9vbGtpdCIsImNsYWltcyI6eyJvd25lcklkIjoiVm9Ea05aIiwiYWRtaW4iOmZhbHNlfSwiZXhwIjoxNjg2MjEyMDM1LCJpYXQiOjE2ODYyMDg0MzUsImlzcyI6ImZpcmViYXNlLWFkbWluc2RrLThva3lsQGNvZGVwZW4tc3RvcmUtcHJvZHVjdGlvbi5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInN1YiI6ImZpcmViYXNlLWFkbWluc2RrLThva3lsQGNvZGVwZW4tc3RvcmUtcHJvZHVjdGlvbi5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsInVpZCI6IlZvRGtOWiJ9.e-WUdBhtrknVqJ_M6WHBrMvxWgpRF8JQ-FBxBXsc9FCgnlOhzMRBOSleh4kK3AbiHBzButyKG9hTf-e84ndDKmRRyqsfl6U24Wmd0XoSgRUWL2VHeroTN3-cyYtdQbAbRXJEJlBz8MLMGSycHoRTh5b-3A9iexL7ikJn5lsoP2RAwtSyMepRdmUiDc24EbldOY7lxXPW30W-7itMw_aCuF_eyE2X4CM3eMCcwda77bxzmoL97pUNoHIGJhXp8gTt1ggIoQSTboM6sMi9eH329phYnZq9Hke2RBFEL1PdG_wWe86MTDV_lXOQL46qy48Yxxmnsi2qb3gSpAp-vaGWPw"},"__pay_stripe_public_key":"pk_live_2GndomDfiklqpSNQn8FrGuwZSMIMzha7DkLJqlYe7IR0ihKAlKdiHg68JJc5eVPt68rzAjzAAVXcUwjySHRCsgjQQ00gtRBUFNH","__pay_braintree_env":"production","__item":"{\"id\":818981,\"hashid\":\"kYjdzL\",\"itemType\":\"pen\",\"user_id\":42886,\"slug_hash\":\"iuLdl\",\"private\":false,\"slug_hash_private\":\"ed131b91480ab1e590ebd41a1f0fb423\"}","__profiled":{"base_url":"/dodozhang21","hashid":"egarWX","id":42886,"name":"Ying
 Zhang","type":"user","username":"dodozhang21"},"__pageType":"full"}</textarea>
<div id="popup-overlay" class="overlay popup-overlay"></div>
<div id="modal-overlay" class="overlay modal-overlay"></div>
<script src="file_upload_files/everypage-b1fe1ca71dab80c49b8e5ebed21506a80cb6fe64ecaa8c6ddda.js"></script>
<script src="file_upload_files/analytics_and_notifications-dabea89133f3a919e973a927aebbc2731.js"></script>
<script src="file_upload_files/vendor-96e88635fb7640f7c643.chunk.js"></script>
<script src="file_upload_files/1-dbebd4e43157375514bc.chunk.js"></script>
<script src="file_upload_files/referrer-tracking-5c08ea3870792373b0bd.js"></script>
<script src="file_upload_files/vendor-96e88635fb7640f7c643.chunk.js"></script>
<script src="file_upload_files/1-dbebd4e43157375514bc.chunk.js"></script>
<script src="file_upload_files/everypage-2da1fd109419feb8069b.js"></script><div id="react-popups"></div><div id="react-messages"><div style="position: fixed; z-index: 9999;"></div></div><div></div>
<script src="file_upload_files/full_page_renderer-74c0df88dc71f0228dc09f732aac0a6e7dd92c69e8.js"></script>


</body></html>